.improve-bussines{
    margin-top: 96px;

    .improve-3{
        justify-content: space-between;
        div{
            border-radius: 8px;
    background-repeat: no-repeat;

            background-position: 100% 100%;
            padding: 24px 150px 16px 24px;
            h5{
                margin-bottom: 24px;
                font-size: 24px;
                font-family: "Gothic A1";
            }
            p{
               font-size: 15px;
               font-family: "Gothic A1";

            }
        }
    }
    .bussines-text{
        font-size: 32px;
        font-family: "Gothic A1";
        margin-bottom: 40px;
    }
    .improve-2{
        justify-content: space-between;
        div{
            margin-bottom: 24px;
    width: calc(50% - 12px);
    background-color: #e7f4f9;
    background-size: contain;
    padding: 24px 280px 16px 24px;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: 100%;
}
h5{
    font-size: 24px;
    font-family: "Gothic A1";
            margin-bottom: 24px;
        }
        p{
            color: rgba(0,0,0,.6);
            font-weight: 500;
            font-size: 15px;
            line-height: 24px;
            letter-spacing: .5px;
            margin-bottom: 56px;
    font-family: "Gothic A1";
}
    }
}
.improve-2-1{
    background-image: url(../media/img/pos-terminal.png);
    transition: 600ms;
    box-shadow: 5px 5px 10px rgba(0,0,0,.07);
    &:hover{
    transition: 600ms;
    box-shadow: 5px 5px 10px rgba(255, 1, 5, 0.07);


    }

}

.improve-2-2{
    transition: 600ms;
    box-shadow: 5px 5px 10px rgba(0,0,0,.07);
    background-color: #ffebf0 !important;
    background-image: url(../media/img/business-cards.png);
    &:hover{
        transition: 600ms;
        box-shadow: 5px 5px 10px rgba(255, 1, 5, 0.07);
    
    
        }
}
.improve-3-1{
    transition: 600ms;
    box-shadow: 5px 5px 10px rgba(0,0,0,.07);
    background-image: url(../media/img/3-1.png);
    background-color: #fdf6e7;
    &:hover{
        transition: 600ms;
        box-shadow: 5px 5px 10px rgba(255, 1, 5, 0.07);
    
    
        }
}

.improve-3-2{
    transition: 600ms;
    box-shadow: 5px 5px 10px rgba(0,0,0,.07);
    background-image: url(../media/img/3-2.png);
    background-color: #e0f3ed;
    &:hover{
        transition: 600ms;
        box-shadow: 5px 5px 10px rgba(255, 1, 5, 0.07);
    
    
        }
    p{
        margin-bottom: 24px;
    }
}
.improve-3-3{
    transition: 600ms;
    box-shadow: 5px 5px 10px rgba(0,0,0,.07);
    background-image: url(../media/img/3-3.png);
    background-color: #f4f5f4;
    p{
        margin-bottom: 24px;
    }
    &:hover{
        transition: 600ms;
        box-shadow: 5px 5px 10px rgba(23, 8, 239, 0);
    
    
        }
}