.last-news{
    padding: 150px 0px;
    .last-news-text{
        margin-bottom: 40px;
    }
    .last-news-ul{
        padding-bottom: 24px;
    }
    .last-news-about{
        margin-top: 40px;
    }
    .last-news-about{
        a{

            text-decoration: none;
            color: #099A71;
        }
    }
}