.solution{
    margin-top: 56px;
    .solution-text{
        margin: 0 250px;
        margin-bottom: 40px;

        h2{
            font-size: 32px;
    line-height: 48px;
    letter-spacing: .25px;
    font-family:"Gothic A1";
        }
    }

    .solution-container{

      justify-content: space-between;
      margin: 0 auto;
       max-width: 80%;
        padding-bottom: 24px;
    }
    
    .solution-div{
        ul{

          .list-1{
            margin-bottom: 16px;
            font-size: 20px;
          }

          .list-2{
            margin-bottom: 16px;
            font-size: 14px;
          }

          .list-3{
            font-size: 14px;
          }
          .list-4{

            margin-top: 25px;
            a{
                font-size: 14px;
                color: #099a71;
                text-decoration: none;

            }
          }
            list-style: none;
        }
        padding: 24px 24px 16px;
        .solution-logo{
            margin: 0px 8px 24px 0px;
            color: #099a71;
            margin-left: 35px;
        }
    }
    
}

.fa-check{
    color: #099a71;
    font-size: 15px;
}
.solution-container{
  justify-content: space-between;
  div{
    margin-right: 15px;
    
    background-color: rgb(252, 250, 250);
    border-radius: 12px;
    transition: 600ms;
    box-shadow: 5px 5px 10px rgba(0,0,0,.07);
    &:hover{
      box-shadow: 5px 5px 10px;
      transition: 600ms;
    }
  }
}
