.solution{

    margin-top: 56px;
    .solution-text{
        margin: 0 90px;
        margin-bottom: 40px;

        h2{
            font-size: 32px;
    line-height: 48px;
    letter-spacing: .25px;
    font-family:"Gothic A1";
        }
    }
}