.display-none {
  display: none;
}

.border {
  border: 1px solid black;
}

.col-4 {
  width: 32%;
}

.space-between {
  justify-content: space-between;
}

.header {
  border-bottom: 1px solid gray;
  padding: 0 40px;
}
.header img {
  margin-right: 56px;
}
.header ul {
  display: flex;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 600;
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0px;
}
.header ul a {
  display: flex;
  text-decoration: none;
  padding: 24px 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3803921569);
}
.header button {
  margin-left: 600px;
  background: #058d66;
  color: #fff;
  background-position: 50%;
  border: 0px solid white;
  padding: 8px 16px;
  border-radius: 8px;
  transition: 1s;
  align-items: center;
}

.header button:hover {
  background-color: #0ec980;
  transition: 1s;
}

.header-responsive {
  align-content: center;
  align-items: center;
  justify-content: space-between;
  display: none !important;
}

@media screen and (max-width: 600px) {
  header {
    display: none;
  }
  .header-responsive {
    width: 90%;
    margin: 0 auto;
    display: flex !important;
    max-width: 100%;
  }
}
#slider-section {
  height: 530px;
  width: 100%;
}
#slider-section .slider-container {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgb(214, 210, 210);
}
#slider-section .slider-container i {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background-color: rgba(3, 101, 3, 0.149);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
  color: rgb(4, 86, 4);
}
#slider-section .slider-container .slide-1 {
  width: 100%;
  height: 100%;
  background-color: rgb(224, 243, 237);
}
#slider-section .slider-container .slide-1 .slide-image-1 {
  height: 100%;
  width: 87%;
  margin-left: 13%;
  position: relative;
  top: 31px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../media/img/1ci.png);
  display: flex;
  align-items: center;
}
#slider-section .slider-container .slide-1 .slide-image-1 .info {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#slider-section .slider-container .slide-1 .slide-image-1 .info span {
  margin-bottom: 40px;
  font-size: 44px;
  color: hsl(0deg, 0%, 22%);
  font-family: Georgia, Times, "Times New Roman", serif;
}
#slider-section .slider-container .slide-1 .slide-image-1 .info p {
  margin-bottom: 50px;
  color: #3d3d3d;
  font-size: 17px;
}
#slider-section .slider-container .slide-1 .slide-image-1 .info a {
  text-decoration: none;
  border-radius: 4px;
  background-color: #058d66;
  width: 140px;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: 1s;
}
#slider-section .slider-container .slide-1 .slide-image-1 .info a:hover {
  transition: 1s;
  background-color: #0ece98;
}
#slider-section .slider-container .slide-2 {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 235, 240);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#slider-section .slider-container .slide-2 .slide-image-2 {
  background-image: url(../media/img/2-ci.png);
  width: 60%;
  height: 100%;
  background-repeat: no-repeat;
}
#slider-section .slider-container .slide-2 .info {
  width: 28%;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 12%;
}
#slider-section .slider-container .slide-2 .info span {
  font-size: 44px;
  color: hsl(0deg, 0%, 22%);
  font-family: Georgia, Times, "Times New Roman", serif;
  margin-bottom: 40px;
}
#slider-section .slider-container .slide-2 .info p {
  color: #3d3d3d;
  font-size: 17px;
  margin-bottom: 50px;
}
#slider-section .slider-container .slide-2 .info a {
  text-decoration: none;
  border-radius: 4px;
  background-color: #058d66;
  width: 140px;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: 1s;
}
#slider-section .slider-container .slide-2 .info a:hover {
  background-color: #0ece98;
}
#slider-section .slider-container .slide-3 {
  width: 100%;
  height: 100%;
  background-color: rgb(253, 246, 231);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#slider-section .slider-container .slide-3 .slide-image-3 {
  background-image: url(../media/img/3-cu.png);
  width: 60%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#slider-section .slider-container .slide-3 .info {
  width: 30%;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 12%;
}
#slider-section .slider-container .slide-3 .info span {
  font-size: 44px;
  color: hsl(0deg, 0%, 22%);
  font-family: Georgia, Times, "Times New Roman", serif;
  margin-bottom: 40px;
}
#slider-section .slider-container .slide-3 .info p {
  color: #3d3d3d;
  font-size: 17px;
  margin-bottom: 50px;
}
#slider-section .slider-container .slide-3 .info a {
  text-decoration: none;
  border-radius: 4px;
  background-color: #058d66;
  width: 140px;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: 1s;
}
#slider-section .slider-container .slide-3 .info a:hover {
  background-color: #0ece98;
}
#slider-section .slider-container .slide-4 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(231, 244, 249);
}
#slider-section .slider-container .slide-4 .slide-image-4 {
  background-image: url(../media/img/4-cu.png);
  width: 40%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  left: 264px;
}
#slider-section .slider-container .slide-4 .info {
  width: 30%;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 12%;
}
#slider-section .slider-container .slide-4 .info span {
  font-size: 44px;
  color: hsl(0deg, 0%, 22%);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-bottom: 40px;
}
#slider-section .slider-container .slide-4 .info p {
  color: hsl(0deg, 0%, 24%);
  font-size: 17px;
  margin-bottom: 50px;
}
#slider-section .slider-container .slide-4 .info a {
  text-decoration: none;
  border-radius: 4px;
  background-color: #058d66;
  width: 140px;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: 1s;
}
#slider-section .slider-container .slide-4 .info a:hover {
  background-color: #0ece98;
}

#slider-section .slider-container i:hover {
  background-color: rgba(3, 101, 3, 0.502);
  cursor: pointer;
  transition: 1s;
}

.fa-angle-left {
  position: absolute;
  top: 40%;
  left: 50px;
}

.fa-angle-right {
  position: absolute;
  top: 40%;
  right: 50px;
}

@media (max-width: 600px) {
  .slide-1,
.slide-2,
.slide-3,
.slide-4 {
    display: flex;
    height: auto;
    display: block;
    padding: 20px;
    text-align: center;
  }
  .slide-1 .info,
.slide-2 .info,
.slide-3 .info,
.slide-4 .info {
    width: 100%;
    margin-left: 0;
    overflow: hidden;
  }
}
.solution {
  margin-top: 56px;
}
.solution .solution-text {
  margin: 0 250px;
  margin-bottom: 40px;
}
.solution .solution-text h2 {
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.25px;
  font-family: "Gothic A1";
}
.solution .solution-container {
  margin: 0 250px;
  padding-bottom: 24px;
}
.solution .solution-div {
  padding: 24px 24px 16px;
}
.solution .solution-div ul {
  list-style: none;
}
.solution .solution-div ul .list-1 {
  margin-bottom: 16px;
  font-size: 20px;
}
.solution .solution-div ul .list-2 {
  margin-bottom: 16px;
  font-size: 14px;
}
.solution .solution-div ul .list-3 {
  font-size: 14px;
}
.solution .solution-div ul .list-4 {
  margin-top: 25px;
}
.solution .solution-div ul .list-4 a {
  font-size: 14px;
  color: #099a71;
  text-decoration: none;
}
.solution .solution-div .solution-logo {
  margin: 0px 8px 24px 0px;
  color: #099a71;
  margin-left: 35px;
}

.fa-check {
  color: #099a71;
  font-size: 15px;
}/*# sourceMappingURL=style.css.map */