.display-none {
  display: none;
}

.header {
  border-bottom: 1px solid gray;
  padding: 0 40px;
}

.header img {
  margin-right: 56px;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .1px;
  font-weight: 600;
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0px;
}

.header ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  padding: 24px 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 1px;
  font-size: 14px;
  color: #00000061;
}

.header button {
  margin-left: 600px;
  background: #058d66;
  color: #fff;
  background-position: 50%;
  border: 0px solid white;
  padding: 8px 16px;
  border-radius: 8px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header button:hover {
  background-color: #0ec980;
  -webkit-transition: 1s;
  transition: 1s;
}

.header-responsive {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none !important;
}

@media screen and (max-width: 600px) {
  header {
    display: none;
  }
  .header-responsive {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    max-width: 100%;
  }
}

#slider-section {
  height: 530px;
  width: 100%;
}

#slider-section .slider-container {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #d6d2d2;
}

#slider-section .slider-container i {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background-color: rgba(3, 101, 3, 0.149);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 1s;
  transition: 1s;
  color: #045604;
}

#slider-section .slider-container .slide-1 {
  width: 100%;
  height: 100%;
  background-color: #e0f3ed;
}

#slider-section .slider-container .slide-1 .slide-image-1 {
  height: 100%;
  width: 87%;
  margin-left: 13%;
  position: relative;
  top: 31px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../media/img/1ci.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#slider-section .slider-container .slide-1 .slide-image-1 .info {
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#slider-section .slider-container .slide-1 .slide-image-1 .info span {
  margin-bottom: 40px;
  font-size: 44px;
  color: #383838;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

#slider-section .slider-container .slide-1 .slide-image-1 .info p {
  margin-bottom: 50px;
  color: #3d3d3d;
  font-size: 17px;
}

#slider-section .slider-container .slide-1 .slide-image-1 .info a {
  text-decoration: none;
  border-radius: 4px;
  background-color: #058d66;
  width: 140px;
  height: 50px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  -webkit-transition: 1s;
  transition: 1s;
}

#slider-section .slider-container .slide-1 .slide-image-1 .info a:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #0ece98;
}

#slider-section .slider-container .slide-2 {
  width: 100%;
  height: 100%;
  background-color: #ffebf0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#slider-section .slider-container .slide-2 .slide-image-2 {
  background-image: url(../media/img/2-ci.png);
  width: 60%;
  height: 100%;
  background-repeat: no-repeat;
}

#slider-section .slider-container .slide-2 .info {
  width: 28%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 12%;
}

#slider-section .slider-container .slide-2 .info span {
  font-size: 44px;
  color: #383838;
  font-family: Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 40px;
}

#slider-section .slider-container .slide-2 .info p {
  color: #3d3d3d;
  font-size: 17px;
  margin-bottom: 50px;
}

#slider-section .slider-container .slide-2 .info a {
  text-decoration: none;
  border-radius: 4px;
  background-color: #058d66;
  width: 140px;
  height: 50px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  -webkit-transition: 1s;
  transition: 1s;
}

#slider-section .slider-container .slide-2 .info a:hover {
  background-color: #0ece98;
}

#slider-section .slider-container .slide-3 {
  width: 100%;
  height: 100%;
  background-color: #fdf6e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#slider-section .slider-container .slide-3 .slide-image-3 {
  background-image: url(../media/img/3-cu.png);
  width: 60%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#slider-section .slider-container .slide-3 .info {
  width: 30%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 12%;
}

#slider-section .slider-container .slide-3 .info span {
  font-size: 44px;
  color: #383838;
  font-family: Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 40px;
}

#slider-section .slider-container .slide-3 .info p {
  color: #3d3d3d;
  font-size: 17px;
  margin-bottom: 50px;
}

#slider-section .slider-container .slide-3 .info a {
  text-decoration: none;
  border-radius: 4px;
  background-color: #058d66;
  width: 140px;
  height: 50px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  -webkit-transition: 1s;
  transition: 1s;
}

#slider-section .slider-container .slide-3 .info a:hover {
  background-color: #0ece98;
}

#slider-section .slider-container .slide-4 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e7f4f9;
}

#slider-section .slider-container .slide-4 .slide-image-4 {
  background-image: url(../media/img/4-cu.png);
  width: 40%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  left: 264px;
}

#slider-section .slider-container .slide-4 .info {
  width: 30%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 12%;
}

#slider-section .slider-container .slide-4 .info span {
  font-size: 44px;
  color: #383838;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 40px;
}

#slider-section .slider-container .slide-4 .info p {
  color: #3d3d3d;
  font-size: 17px;
  margin-bottom: 50px;
}

#slider-section .slider-container .slide-4 .info a {
  text-decoration: none;
  border-radius: 4px;
  background-color: #058d66;
  width: 140px;
  height: 50px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  -webkit-transition: 1s;
  transition: 1s;
}

#slider-section .slider-container .slide-4 .info a:hover {
  background-color: #0ece98;
}

#slider-section .slider-container i:hover {
  background-color: rgba(3, 101, 3, 0.502);
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.fa-angle-left {
  position: absolute;
  top: 40%;
  left: 50px;
}

.fa-angle-right {
  position: absolute;
  top: 40%;
  right: 50px;
}

@media (max-width: 600px) {
  .slide-1,
  .slide-2,
  .slide-3,
  .slide-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    display: block;
    padding: 20px;
    text-align: center;
  }
  .slide-1 .info,
  .slide-2 .info,
  .slide-3 .info,
  .slide-4 .info {
    width: 100%;
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */